In [1]:
from google.colab import drive
drive.mount('/content/gdrive/',force_remount=True)

Mounted at /content/gdrive/

In [3]:
path = "/content/gdrive/My Drive/sanju ma'am/"

In [64]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import recall_score,precision_score,f1_score,accuracy_score

In [8]:
os.listdir(path)

['Questions.gsheet', 'Questions.csv']

In [9]:
df1 = pd.read_csv(path+'Questions.csv')

In [10]:
df1.head()

                           Natural Language Question  ... Unnamed: 26
0        What are the names of all Air-Air missiles?  ...         NaN
1  what are the names of all Surface-Air and Surf...  ...         NaN
2  what are the names of all Surface-Air and Defe...  ...         NaN
3  which Submarine missiles have been manufacture...  ...         NaN
4  which Air-Air missiles have been manufactured ...  ...         NaN

[5 rows x 27 columns]

In [22]:
data = df1[['Bing', 'Google ', 'KG4ASTRA']].values

In [24]:
data.shape

(119, 3)

In [26]:
y_true = np.ones((119,),dtype=np.int32)

In [29]:
frame = df1.groupby('Category')

In [36]:
frame.groups.keys()

dict_keys(['Launch Platform Based', 'Manufacturer Based', 'Missile Type', 'Missile Type ', 'Missile Type and  Manufacturer Based', 'Missile Type and Range Type', 'Missile Type, Range Type and Manufacturer Based', 'Range Type', 'Range Type and Launch Platform Based'])

In [68]:
missile_data = frame.get_group('Missile Type')[['Bing','Google ','KG4ASTRA']].values
missile_data = np.append(missile_data,frame.get_group('Missile Type ')[['Bing','Google ','KG4ASTRA']].values,axis=0)
missile_data = np.append(missile_data,frame.get_group('Missile Type and  Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)
missile_data = np.append(missile_data,frame.get_group('Missile Type and Range Type')[['Bing','Google ','KG4ASTRA']].values,axis=0)
missile_data = np.append(missile_data,frame.get_group('Missile Type, Range Type and Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)

In [69]:
y_true = np.ones((missile_data.shape[0],),dtype=np.int32)
print('RECALL: bing:{}  Google:{} KG4ASTRA:{}'.format(recall_score(y_true,missile_data[:,0]),recall_score(y_true,missile_data[:,1]),recall_score(y_true,missile_data[:,2]) ) )
print('PRECISION: bing:{}  Google:{} KG4ASTRA:{}'.format(precision_score(y_true,missile_data[:,0]),precision_score(y_true,missile_data[:,1]),precision_score(y_true,missile_data[:,2]) ) )
print('ACCURACY: bing:{}  Google:{} KG4ASTRA:{}'.format(accuracy_score(y_true,missile_data[:,0]),accuracy_score(y_true,missile_data[:,1]),accuracy_score(y_true,missile_data[:,2]) ) )
print('F1: bing:{}  Google:{} KG4ASTRA:{}'.format(f1_score(y_true,missile_data[:,0]),f1_score(y_true,missile_data[:,1]),f1_score(y_true,missile_data[:,2]) ) )

RECALL: bing:0.15789473684210525  Google:0.40350877192982454 KG4ASTRA:0.9824561403508771
PRECISION: bing:1.0  Google:1.0 KG4ASTRA:1.0
ACCURACY: bing:0.15789473684210525  Google:0.40350877192982454 KG4ASTRA:0.9824561403508771
F1: bing:0.2727272727272727  Google:0.575 KG4ASTRA:0.9911504424778761

In [70]:
missile_data = frame.get_group('Launch Platform Based')[['Bing','Google ','KG4ASTRA']].values
missile_data = np.append(missile_data,frame.get_group('Range Type and Launch Platform Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)
#missile_data = np.append(missile_data,frame.get_group('Missile Type and  Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)
#missile_data = np.append(missile_data,frame.get_group('Missile Type and Range Type')[['Bing','Google ','KG4ASTRA']].values,axis=0)
#missile_data = np.append(missile_data,frame.get_group('Missile Type, Range Type and Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)

In [71]:
y_true = np.ones((missile_data.shape[0],),dtype=np.int32)
print('RECALL: bing:{}  Google:{} KG4ASTRA:{}'.format(recall_score(y_true,missile_data[:,0]),recall_score(y_true,missile_data[:,1]),recall_score(y_true,missile_data[:,2]) ) )
print('PRECISION: bing:{}  Google:{} KG4ASTRA:{}'.format(precision_score(y_true,missile_data[:,0]),precision_score(y_true,missile_data[:,1]),precision_score(y_true,missile_data[:,2]) ) )
print('ACCURACY: bing:{}  Google:{} KG4ASTRA:{}'.format(accuracy_score(y_true,missile_data[:,0]),accuracy_score(y_true,missile_data[:,1]),accuracy_score(y_true,missile_data[:,2]) ) )
print('F1: bing:{}  Google:{} KG4ASTRA:{}'.format(f1_score(y_true,missile_data[:,0]),f1_score(y_true,missile_data[:,1]),f1_score(y_true,missile_data[:,2]) ) )

RECALL: bing:0.4  Google:0.55 KG4ASTRA:0.9
PRECISION: bing:1.0  Google:1.0 KG4ASTRA:1.0
ACCURACY: bing:0.4  Google:0.55 KG4ASTRA:0.9
F1: bing:0.5714285714285715  Google:0.7096774193548387 KG4ASTRA:0.9473684210526316

In [72]:
missile_data = frame.get_group('Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values
missile_data = np.append(missile_data,frame.get_group('Missile Type and  Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)
missile_data = np.append(missile_data,frame.get_group('Missile Type, Range Type and Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)
#missile_data = np.append(missile_data,frame.get_group('Missile Type and Range Type')[['Bing','Google ','KG4ASTRA']].values,axis=0)
#missile_data = np.append(missile_data,frame.get_group('Missile Type, Range Type and Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)

In [73]:
y_true = np.ones((missile_data.shape[0],),dtype=np.int32)
print('RECALL: bing:{}  Google:{} KG4ASTRA:{}'.format(recall_score(y_true,missile_data[:,0]),recall_score(y_true,missile_data[:,1]),recall_score(y_true,missile_data[:,2]) ) )
print('PRECISION: bing:{}  Google:{} KG4ASTRA:{}'.format(precision_score(y_true,missile_data[:,0]),precision_score(y_true,missile_data[:,1]),precision_score(y_true,missile_data[:,2]) ) )
print('ACCURACY: bing:{}  Google:{} KG4ASTRA:{}'.format(accuracy_score(y_true,missile_data[:,0]),accuracy_score(y_true,missile_data[:,1]),accuracy_score(y_true,missile_data[:,2]) ) )
print('F1: bing:{}  Google:{} KG4ASTRA:{}'.format(f1_score(y_true,missile_data[:,0]),f1_score(y_true,missile_data[:,1]),f1_score(y_true,missile_data[:,2]) ) )

RECALL: bing:0.16666666666666666  Google:0.5 KG4ASTRA:1.0
PRECISION: bing:1.0  Google:1.0 KG4ASTRA:1.0
ACCURACY: bing:0.16666666666666666  Google:0.5 KG4ASTRA:1.0
F1: bing:0.2857142857142857  Google:0.6666666666666666 KG4ASTRA:1.0

In [74]:
missile_data = frame.get_group('Range Type')[['Bing','Google ','KG4ASTRA']].values
missile_data = np.append(missile_data,frame.get_group('Range Type and Launch Platform Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)
#missile_data = np.append(missile_data,frame.get_group('Missile Type and  Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)
missile_data = np.append(missile_data,frame.get_group('Missile Type and Range Type')[['Bing','Google ','KG4ASTRA']].values,axis=0)
missile_data = np.append(missile_data,frame.get_group('Missile Type, Range Type and Manufacturer Based')[['Bing','Google ','KG4ASTRA']].values,axis=0)

In [75]:
y_true = np.ones((missile_data.shape[0],),dtype=np.int32)
print('RECALL: bing:{}  Google:{} KG4ASTRA:{}'.format(recall_score(y_true,missile_data[:,0]),recall_score(y_true,missile_data[:,1]),recall_score(y_true,missile_data[:,2]) ) )
print('PRECISION: bing:{}  Google:{} KG4ASTRA:{}'.format(precision_score(y_true,missile_data[:,0]),precision_score(y_true,missile_data[:,1]),precision_score(y_true,missile_data[:,2]) ) )
print('ACCURACY: bing:{}  Google:{} KG4ASTRA:{}'.format(accuracy_score(y_true,missile_data[:,0]),accuracy_score(y_true,missile_data[:,1]),accuracy_score(y_true,missile_data[:,2]) ) )
print('F1: bing:{}  Google:{} KG4ASTRA:{}'.format(f1_score(y_true,missile_data[:,0]),f1_score(y_true,missile_data[:,1]),f1_score(y_true,missile_data[:,2]) ) )

RECALL: bing:0.14634146341463414  Google:0.2926829268292683 KG4ASTRA:0.975609756097561
PRECISION: bing:1.0  Google:1.0 KG4ASTRA:1.0
ACCURACY: bing:0.14634146341463414  Google:0.2926829268292683 KG4ASTRA:0.975609756097561
F1: bing:0.2553191489361702  Google:0.45283018867924524 KG4ASTRA:0.9876543209876543